a.action-link {
  color: #005cbd !important;
font-style: italic;
        cursor: pointer;
        text-decoration: underline;
        font-size: smaller;
    }

    a.action-link-disabled {
        color: rgba(219,219,219,1) !important;
        font-style: italic;
        cursor: default;
        text-decoration: underline;
        font-size: smaller;
        pointer-events: none;
    }

/*------------------------*/
/* Edit Form Fields */
/*------------------------*/
.formfield[type=text], [type=password], [type=date], [type=datetime], [type=datetime-local], [type=time], [type=select], [type=number], textarea.formfield, select.formfield {
    width: 190px;
    margin: 0;
    margin-bottom: 2px;
    padding: 2px;
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
    height: 24px;
    /*margin-left:20px;*/
}

.formfield[type=color] {
    width: 185px;
}

.formfield[type=password]:read-only {
    background-color: #E7E7E7;
}

textarea.formfield {
    height: 140px;
    width: 190px;
}

.formfield div.selectField {
    width: 164px;
    margin: 0;
    padding: 2px;
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
}

select.formfield {
}

.formfield[type=checkbox] {
    margin-left: 4px;
}



div.selectField {
    display: inline-flex;
    flex-direction: row;
    background-color: #62564A;
    -webkit-appearance: textfield;
    background-color: white;
    /*  width: 98%;*/
    border: 1px solid darkgray;
    height: 24px;
    /*height: 26px;*/
    /*margin: 1px;*/
    width: 188px;
    /*margin-left: 20px;*/
    /*width: calc(100% - 45px);*/
}



    div.selectField > input {
        width: 100% !important;
        flex-grow: 2;
        cursor: pointer;
        height: 24px;
        outline: none;
        border: none;
    }

    div.selectField > span {
        color: #999;
        background-color: #EEE;
        padding-left: 5px;
        padding-right: 5px;
        cursor: pointer;
        text-align: center;
        border-left: 1px solid #999;
    }

        div.selectField > span:hover {
            background-color: #f4e0ff;
            color: #502668;
        }

        div.selectField > span > i {
            margin: 6px 0px 0px 0px;
        }

div.radio-blocks {
}

    div.radio-blocks > div {
        display: flex;
    }

    div.radio-blocks label {
        flex: 1;
        white-space: nowrap;
        background-color: #EEE;
        border: 1px solid #999;
        margin: 5px;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        user-select: none;
    }

        div.radio-blocks label.selected {
            background-color: #f4e0ff;
            color: #502668;
            border-color: #502668;
        }

        div.radio-blocks label i {
            vertical-align: middle;
        }

    div.radio-blocks input {
    }

    div.radio-blocks span {
        margin-left: 10px;
    }

/*------------------------*/
/* MODAL */
/*------------------------*/
div.modal-backdrop {
    display: none;
    z-index: 9000;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    background: rgba(0, 0, 0, 0.2);
}

div.modal-form {
    display: none;
    z-index: 9501;
    position: fixed;
    background-color: #FFF;
    border: 1px solid #502668;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-width: 5px;
    overflow: hidden;
    padding: 10px;
}

    div.modal-form .loader {
        color: #502668;
    }

    div.modal-form .form-body {
        overflow-y: auto;
        padding: 10px;
        height: 100%;
        margin-bottom: 40px;
    }

    div.modal-form .form-footer {
        /*height: 40px;*/
        height: 40px;
        bottom: 10px;
        margin-left: -10px;
        position: absolute;
        width: 100%;
    }

    div.modal-form .form-title {
        height: 15px;
        padding: 2px;
        margin-bottom: 10px;
    }

    div.modal-form .content {
        min-height: 50px;
        min-width: 200px;
    }

    div.modal-form .modal-buttons {
        margin-top: 10px;
        padding-right: 10px;
    }

        div.modal-form .modal-buttons a {
            float: right;
            color: #502668;
            padding: 5px 10px;
            margin-left: 10px;
            border-radius: 5px;
        }

            div.modal-form .modal-buttons a.modal-button-confirm {
                color: #502668;
            }

                div.modal-form .modal-buttons a.modal-button-confirm:hover {
                    background-color: #f4e0ff;
                }

            div.modal-form .modal-buttons a.modal-button-cancel {
                color: #900;
            }

                div.modal-form .modal-buttons a.modal-button-cancel:hover {
                    background-color: #fcc;
                }

            div.modal-form .modal-buttons a.modal-button-save {
                color: #502668;
            }

                div.modal-form .modal-buttons a.modal-button-save:hover {
                    background-color: #f4e0ff;
                }

            div.modal-form .modal-buttons a.modal-button-yes {
                color: #502668;
            }

                div.modal-form .modal-buttons a.modal-button-yes:hover {
                    background-color: #f4e0ff;
                }

            div.modal-form .modal-buttons a.modal-button-no {
                color: #900;
            }

                div.modal-form .modal-buttons a.modal-button-no:hover {
                    background-color: #fcc;
                }
